alembic==1.16.5
aiomysql==0.2.0
bcrypt==4.3.0
croniter>=6.0.0
cryptography>=45.0,<47
email-validator==2.2.0
fastapi==0.116.1
httpx==0.28.1
passlib[bcrypt]==1.7.4
pydantic-settings==2.10.1
python-jose[cryptography]==3.3.0
qrcode>=8.2,<9
redis==6.4.0
sqlalchemy[asyncio]==2.0.43
structlog==25.4.0
uvicorn[standard]==0.35.0
aiosqlite>=0.20.0
aioboto3>=12.0.0
-e .
